# Purelymail SMTP
# You must set these values on your hosting provider (e.g., Environment Variables or GitHub Secrets)
SMTP_USER=automations@marketingwithkimani.co.ke
SMTP_PASS=
SMTP_ENQUIRIES_USER=enquiries@marketingwithkimani.co.ke
SMTP_ENQUIRIES_PASS=

# AI Credentials
ANTHROPIC_API_KEY=

# Server Configuration
PORT=3002
NODE_ENV=production
DASHBOARD_PASSWORD=
